body {
    margin: 0;
    padding: 0;
}

#root {
    box-sizing: border-box;
    height: 100vh;

    display: grid;
    grid-auto-rows: auto 5fr 2fr;
}

#header {
    padding: 8px 16px;
    font-size: 30px;
    background-color: #f8f8ec;
    border-bottom: 1px solid rgba(0, 0, 0, 0.35);
}

#list {
    margin: 0;
    overflow: auto;
}

#list li {
    padding: 16px;
    font-size: 24px;
    word-break: break-all;
}

#list li.used {
    text-decoration: line-through;
    color: darkgray;
}

#list button {
    align-self: flex-start;
    box-shadow: inset 0px 1px 0px 0px #f5978e;
    background: linear-gradient(to bottom, #f24537 5%, #c62d1f 100%);
    background-color: #f24537;
    border-radius: 6px;
    border: 1px solid #d02718;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 8px 10px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #810e05;
}

#list button:hover {
    background: linear-gradient(to bottom, #c62d1f 5%, #f24537 100%);
    background-color: #c62d1f;
}

#list button:active {
    position: relative;
    top: 1px;
}


#form {
    padding: 16px;
    display: flex;
    flex-direction: column;

    box-shadow: 0px -5px 11px 0px rgba(0, 0, 0, 0.65);
}

#input {
    margin-bottom: 8px;
    height: 100%;
}


#form button {
    align-self: flex-start;
    min-height: 64px;
    -moz-box-shadow: inset 0px 1px 0px 0px #caefab;
    -webkit-box-shadow: inset 0px 1px 0px 0px #caefab;
    box-shadow: inset 0px 1px 0px 0px #caefab;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #77d42a), color-stop(1, #5cb811));
    background: -moz-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: -webkit-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: -o-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: -ms-linear-gradient(top, #77d42a 5%, #5cb811 100%);
    background: linear-gradient(to bottom, #77d42a 5%, #5cb811 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#77d42a', endColorstr='#5cb811', GradientType=0);
    background-color: #77d42a;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #268a16;
    display: inline-block;
    cursor: pointer;
    color: #306108;
    font-family: Arial;
    font-size: 15px;
    font-weight: bold;
    padding: 6px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #aade7c;
}

#form button:hover {
    background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5cb811), color-stop(1, #77d42a));
    background:-moz-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-webkit-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-o-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:-ms-linear-gradient(top, #5cb811 5%, #77d42a 100%);
    background:linear-gradient(to bottom, #5cb811 5%, #77d42a 100%);
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5cb811', endColorstr='#77d42a',GradientType=0);
    background-color:#5cb811;
}
#form button:active {
    position:relative;
    top:1px;
}


@media screen and (max-width: 768px) {
    #form button,
    #list button {
        width: 100%;
    }
}